# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for back
Back/.vs/
Back/packages/
Back/WebAPI/bin/
Back/WebAPI/obj/

#Information for UI
UI/angularui/node_modules
